absl-py==0.13.0
aiohttp==3.7.4.post0
antlr4-python3-runtime==4.8
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
audioread==3.0.0
cachetools==4.2.2
certifi==2021.5.30
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.1.0
decorator==5.0.9
einops==0.3.0
ffmpeg==1.4
filelock==3.12.2
fsspec==2021.6.1
ftfy==6.0.3
future==0.18.2
google-auth==1.32.0
google-auth-oauthlib==0.4.4
grpcio==1.38.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
ipython==7.25.0
ipython-genutils==0.2.0
jedi==0.18.0
kornia==0.6.12
librosa==0.10.0.post2
llvmlite==0.40.1
Mako==1.2.4
Markdown==3.3.4
MarkupSafe==2.1.3
matplotlib-inline==0.1.2
mpmath==1.3.0
msgpack==1.0.5
multidict==5.1.0
networkx==3.1
numba==0.57.1
numpy==1.21.6
oauthlib==3.1.1
omegaconf==2.1.0
opencv-python==4.7.0.72
packaging==20.9
parso==0.8.2
pexpect==4.8.0
Pillow==8.2.0
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycuda==2022.2.2
pyDeprecate==0.3.0
pyparsing==2.4.7
pytools==2023.1
pytorch-lightning==1.3.7.post0
pytorch-ranger==0.1.1
pytz==2023.3
pywin32==305.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==1.2.2
scipy==1.10.0
soundfile==0.12.1
soxr==0.3.5
sympy==1.12
taming-transformers==0.0.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
threadpoolctl==3.1.0
torch-optimizer==0.3.0
torchmetrics==0.3.2
tqdm==4.61.1
traitlets==5.0.5
tzdata==2023.3
urllib3==1.26.6
wav2clip==0.1.0
wcwidth==0.2.5
Werkzeug==2.0.1
yarl==1.6.3
zipp 
